@model IEnumerable<geeks.Models.UserFriend>

@*@Html.Partial("FriendsPager")*@

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th width="40px"></th>
            <th width="40px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ev in Model)
        {
            <tr>
                <td>@ev.Name</td>
                <td>@ev.Email</td>
                <td>
                    <button role="button" class="rank-friend btn" data-userId="@ev.UserId"><i class="icon-star"></i></button>
                </td>
                <td>
                    <a href="#delete-warning" role="button" class="delete-friend btn" data-friend-email="@ev.UserId"><i class="icon-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*@Html.Partial("FriendsPager")*@