<div id="event-content" class="content ng-scope" ng-controller="EventCtrl">
    <form class="form" name="form">
        @Html.AntiForgeryToken()
		
        <input id="Longitude" name="Longitude" type="hidden" value="{{theEvent.position.nb}}" />
        <input id="Latitude" name="Latitude" type="hidden" value="{{theEvent.position.mb}}" />
    
        <div class="row-fluid">
            <div class="span7" >
                <fieldset ng-disabled="model.ReadOnly">
                    <legend class="geek">Event Details<spinner/></legend>
                    <textarea rows="4" ng-model="model.Description" placeholder="Description" required class="input-block-level"></textarea>
                    <date-picker></date-picker>
                    <input type="text" ng-model="model.Venue" class="input-block-level" placeholder="Venue" required />
                    <button ng-show="!model.ReadOnly" ng-disabled="loading" class="btn" type="submit" ng-click="submit()">Save</button>
                </fieldset>
                <br/>
                <fieldset ng-show="model.ReadOnly">
                    <legend class="geek">Are you coming?</legend>
                    Currently you are down as <em>{{going()}}</em> but you can change that by clicking below:<br/><br/>
                    <button ng-show="model.ReadOnly" ng-disabled="loading" class="btn btn-success" type="submit" ng-click="respond(2)">Yes please</button>
                    <button ng-show="model.ReadOnly" class="btn btn-danger" type="submit" ng-click="respond(1)">No thanks</button>
                </fieldset>
				<br/>
                <fieldset>
                    <legend class="geek">Who else is invited</legend>
                    <friend-picker></friend-picker>
                </fieldset>
            </div>
            <div class="span5">
				<div id="map-canvas" ui-map="eventMap" class="map"
                        ui-event="{'map-click': 'moveMarker($event)' }"
                        ui-options="mapOptions">
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts{
    <script src="/geeks/js/ranking.js" type="text/javascript"> </script>
    <script type="text/javascript">
        $("#nav-bar li.active").removeClass("active");
        $("#events-nav").addClass("active");

        function EventCtrl($scope, $http, $filter, xsrfPost) {
            $scope.zoom = 12;
            $scope.eventId = "@ViewBag.EventId";
            $scope.loading = true;

			$scope.going = function() {
			    if($scope.model === undefined
					|| $scope.model.MyResponse === 0)
			        return "maybe going";
			    
				if($scope.model.MyResponse === 1)
			        return "not going";
			    
				if($scope.model.MyResponse === 2)
			        return "going";
			}

            $scope.mapOptions = {
                center: new google.maps.LatLng(51.509, -0.115),
                zoom: $scope.zoom,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            $scope.moveMarker = function($event) {
                if ($scope.model.ReadOnly)
                    return;
                console.log("moving marker to " + $event.latLng);
                $scope.theEvent.setPosition($event.latLng);
                console.log("Lat: " + $scope.theEvent.position.lat());
                console.log("Long: " + $scope.theEvent.position.lng());
            };

            $scope.setMarkerPosition = function(marker, lat, lng) {
                marker.setPosition(new google.maps.LatLng(lat, lng));
            };
            
			$scope.respond = function(response) {
			    $scope.model.MyResponse = response;
			    $scope.loading = true;
			    xsrfPost.post("/geeks/Home/RespondToInvite", {
			        id : $scope.eventId, 
			        response : $scope.model.MyResponse
			    }).success(function() {
                    console.log("saved changes to " + $scope.eventId);
			        $scope.loading = false;
                });
			}

            $scope.submit = function() {
                if ($scope.form.$valid) {
                    $scope.loading = true;
                    xsrfPost.post("/geeks/Home/SaveEvent", {
                        model: {
                            Id : $scope.eventId,
                            Description: $scope.model.Description,
                            Latitude: $scope.theEvent.position.lat(),
                            Longitude: $scope.theEvent.position.lng(),
                            Venue: $scope.model.Venue,
                            Invitations: $scope.model.Invitations,
                            CreatedBy:$scope.model.CreatedBy,
                            Date:$scope.model.Date,
                            Time:$scope.model.Time
                        }
                    }).success(function(data) {
                        $scope.model = data;
                        $scope.eventId = data.Id;
                        $scope.model.DateString = $filter("date")($scope.model.Date, "dd MMMM yyyy");
                        console.log("saved changes to " + $scope.eventId);
                        $scope.loading = false;
                    });
                }
            };

            $http.get("/geeks/Home/EventData/" + $scope.eventId).success(function(data, status) {
				$scope.model = data;
                $scope.model.DateString = $filter("date")($scope.model.Date, "dd MMMM yyyy");
                $scope.eventId = data.Id;
                var latlng = new google.maps.LatLng(data.Latitude, data.Longitude);
                $scope.theEvent = new google.maps.Marker({
                    map: $scope.eventMap,
                    position: latlng
                });
                $scope.eventMap.panTo($scope.theEvent.getPosition());
                $scope.loading = false;
            });

        }
    </script>
}