@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h2>Events</h2>

    <p>
        This will display a list of events that you have either created or been invited to
    </p>
    <p>
        You will have the option to drill into a specific event to see the details and whether
        it is green or red
    </p>
    <p>
        You will also have the option to cancel / reschedule an event you created, or to update
        your attendance
    </p>
    <p>
        Finally you will also be able to create a new event
    </p>
</div>
