@model geeks.Models.EventModel

<div id="invitees" class="well well-small">
    @if (Model.Invitees != null && Model.Invitees.Any())
    {
        for(var i=0; i<Model.Invitees.Count(); i++)
        {
            <div class="alert alert-info">
                <button type="button" class="close" data-user-id="@Model.Invitees[i].UserId" data-dismiss="alert">&times;</button>
                @Model.Invitees[i].Email
                @Html.HiddenFor(model => model.Invitees[i].UserId)
            </div>
        }
    }
</div>

